@media (max-width: 426px) {
    
    .nav-itens {
        gap: 50px;
    }

    .calculadoras {
        display: flex;
        flex-direction: column;
    }


    .redes {
        flex-direction: column;
        gap: 50px;
    }
    

}

