@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-logo h1 {
    color: #5aed83;
    font-size: 32px;
    padding: 20px 0px;
}

.header-nav {
    padding-top: 15px;
    padding-bottom: 25px;
}

.nav-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.nav-itens a {
    color: #5aed83;
    font-size: 18px;
    text-decoration: none;
    transition: 1s;
}

.nav-itens a:hover {
    transform: scale(1.3);
}

main {
    background-color: rgb(50, 50, 50);
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.1rem;
    background-color: black;
}

.footer small {
    color: white;
}